/** Kiosk App Style **/

.sc-numpad {
    font-size: 22;
    max-width: 16em;
    max-height: 20em;
}


.md-button.sc-square-button {
    font-size: 22;
    height: 5em;
    width: 5em;
}

.sc-touchscreen-verify {
    height: 100%;
}

.sc-one-third-size {
    height: 33%;
    width: 33%;
    display: inline-block;
}

.sc-one-third-margin {
    margin: 30%;
}
