/** Kiosk App Style **/

body {
    height: 100%;
}

.sc-numpad {
    font-size: 22;
    max-width: 16em;
    max-height: 20em;
}


.md-button.sc-square-button {
    font-size: 22;
    height: 5em;
    width: 5em;
}

.sc-touchscreen-verify {
    height: 100%;
}

.sc-one-third-size {
    height: 33%;
    width: 33%;
    display: inline-block;
}

.sc-one-third-margin {
    margin: 30%;
}

.sc-parts-category {
    background-color: rgb(130,177,255);
    font-size: 1.3em;
}

.sc-parts-filter {
    position: sticky;
    height: 56px;
    margin: 0px;
    padding: 0px 16px;
}

.sc-parts-filter input {
    margin-top: 14px;
    width: 100%;
}
