<head>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href='../node_modules/angular-material-accordion/css/ang-accordion.css'>
    <link rel="stylesheet" href="./assets/css/app.css">
</head>

<body ng-app="KioskApp">
    <div ng-controller="PartsController">
        <!--
        <div ng-include="'./views/partials/numpad.html'"></div>
        -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Spokane Create Kiosk</h2>
            </div>
        </md-toolbar>

        <md-content>
            <input ng-model="searchText">
            <ang-accordion>
                <collapsible-item item-title="{{type}}" ng-repeat="(type, parts) in partsContainer.values">
                    <div ng-repeat="part in parts | filter:search" >
                        {{ part.name }}: Description: {{ part.description }}
                    </div>
                </collapsible-item>
            </ang-accordion>
        </md-content>
    </div>

    <script> require('../node_modules/angular/angular.min.js') </script>
    <script> require('../node_modules/angular-animate/angular-animate.min.js') </script>
    <script> require('../node_modules/angular-messages/angular-messages.min.js') </script>
    <script> require('../node_modules/angular-aria/angular-aria.min.js') </script>
    <script> require('../node_modules/angular-material/angular-material.min.js') </script>
    <script> require('../node_modules/angular-material-accordion/js/ang-accordion.js') </script>
    <script> require('./app.js') </script>
</body>
